.category #masthead{
	margin-bottom:0;
}
.category .page-header{
	position: relative;
	overflow: hidden;
	text-align:center;
	min-height:455px;
	height:auto;
	padding:50px 0;
}
	.category .page-header h1{
		max-width: 624px;
		font-size:50px;
		line-height:61px;
		color:#ffffff;
		margin:0 auto 24px;
		position:relative;
		font-weight:600;
	}

		.category .page-header h1 b,
		.category .page-header h1 strong{
			font-family: "tasman",sans-serif; 
			color:#00E0BA;
		}
		

	.category .page-header p{
		max-width:822px;
		font-size:22px;
		line-height:32px;
		color:#ffffff;
		font-weight:200;
		margin:10px auto 0;
	}

		.category .page-header p:after{
			content:"";
			display:block;
			width:100%;
			max-width:300px;
			height:1px;
			background:#ffffff;
			margin:24px auto;
		}

.archive-looking-for{
	position:relative;
	z-index:9;
}

.archive-looking-for .container{
	padding:32px 86px 0;
	margin-top:12px !important;
}

	.archive-looking-for *{
		text-align:center;
	}

	.archive-looking-for h2{
		font-size:28px;
		line-height:40px;
		color:#ffffff;
		text-align:center;
		font-weight:700;
		position:relative;
		margin-bottom:25px;
	}

	.archive-looking-for-content{
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 25px 25px #00000015;
		border: 1px solid #F5F5F5;
		border-radius: 4px;
		position:relative;
		overflow: hidden;
		padding:0 28px;
		min-height: 200px;
		margin-bottom:20px;
	}

		.archive-looking-for-content:hover{
			border: 1px solid #00E0BA;
			cursor:pointer;
		}

		.archive-looking-for-content-image{
			height:97px;
			overflow: hidden;
			margin-left:-28px;
			margin-right:-28px;
			display: flex;
		    align-items: center;
		    flex-wrap: wrap;
		}

			.archive-looking-for-content-image img{
				width:266px;
				height:97px;
			}

			.archive-looking-for-content h4{
				margin-top:20px;
				margin-bottom:17px;
			}

			.archive-looking-for-content h4,
			.archive-looking-for-content h4 a,
			.archive-looking-for-content h4 a:hover{
				font-family: "tasman",sans-serif; 
				font-size:20px;
				line-height:25px;
				color:#303030;
				text-decoration: none;
				font-weight: 700;
			}

			.archive-looking-for-content h4 a:hover{
				color:#15B8C4;
				text-decoration: underline;
			}

			.archive-looking-for-content h4 i{
				color:#1DD1A1;
				width:32px;
			}

			.archive-looking-for-content p{
				font-size:16px;
				line-height: 22px;
				color:#303030;
			}

.archive-important-articles{
	padding:30px 0 0;
	overflow: hidden;
}

	.archive-important-articles a:hover{
		text-decoration: none;
	}

	.archive-important-articles hr{
		background-color:#00E0BA;
		margin:0;
		padding:0;
	}

	.archive-important-articles h2{
		font-size:42px;
		line-height:62px;
		color:#303030;
		text-align:center;
		font-weight:600;
		position:relative;
		margin-bottom:25px;
	}


	.archive-important-articles h2 strong:before{
		content:"";
		width:105%;
		height:100%;
		position:absolute;
		background: #DDFFF9 0% 0% no-repeat padding-box;
		z-index:-1;
		top:3%;
		left:-4px;
	}

	.archive-important-articles h2 strong{
		color:#4D41E1;
		font-family: "tasman",sans-serif; 
		font-weight:700;
		position:relative;
	}

	.archive-important-articles-content{
		background: #FFFFFF 0% 0% no-repeat padding-box;
		opacity: 1;
		margin-bottom: 30px;
		overflow: hidden;
		position: relative;
		min-height:300px;
	}

		.archive-important-articles-content-secondary-img img{
			height: 130px;
			width: 322px;
			object-fit:cover;
			object-position:center;
		}

		.archive-important-articles-content-text{
			padding:14px 0;
		}

			.archive-important-articles-content-text h3{
				font-size:18px;
				font-weight:700;
				line-height:25px;
				color:#303030;
				margin:0;
				padding:0;
				overflow: hidden;
			}

			.archive-important-articles-content-text .entry-header{
				position: relative;
				overflow: hidden;
			}

				.archive-important-articles-content-text .entry-header p{
					margin-top:10px;
					font-size:16px;
					line-height:22px;
					color:#303030;
				}

			.archive-important-articles-content-text .entry-meta{
				position: absolute;
				bottom:0;
			}

				.archive-important-articles-content-text .entry-meta *{
					font-size:16px;
					line-height: 20px;
					font-weight: 400;
				}

				.archive-important-articles-content-text .entry-meta a{
					color:#1DD1A1;
				}

	.archive-important-articles-primary{
		height: 319px;
		overflow: hidden;
    	position: relative;
	}

	.archive-important-articles-primary .archive-important-articles-content-img{
		width: 410px;
		height: 320px;
		float:left;
    	overflow: hidden;
    	position: absolute;
	}

	.archive-important-articles-primary .archive-important-articles-content-text{
		float:left;
		padding:0 45px 23px 440px;
		height:100%;
		max-width:100%;
	}

		.archive-important-articles-primary .archive-important-articles-content-text h3{
			font-size: 24px;
			line-height: 29px;
		}

		.archive-important-articles-primary .archive-important-articles-content-text p{
			color:#303030;
			font-size:20px;
			line-height:22px;
			margin-top:10px;
		}

		.archive-important-articles-primary .archive-important-articles-content-text .entry-meta{
			bottom:0;
		}

		.archive-important-articles-primary .archive-important-articles-content-text .entry-meta *{
			font-size:16px;
			line-height: 22px;
			display:inline;
		}

		.archive-important-articles-content-text .entry-meta *{
			font-size:16px;
			line-height:22px;
			color:#A3A3A3 !important;
			margin-bottom:0;
			display:inline;
		}

.sliderDots{
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	display:none;
}

	.sliderDots li{
		display:inline-block;
		width:20px;
		height:20px;
		border-radius:50%;
		margin:0 5px;
		text-indent:-9999px;
		background:#A3A3A3;
	}

	.sliderDots li.active{
		background:#4D41E1;
	}

.archive-container{
	padding-top:40px;
	padding-bottom:50px;
	position: relative;
	overflow: hidden;
}
.latest-articles-container,
.archive-categories{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #E6E6E6;
	position: relative;
	overflow:hidden;
}
.archive-container h2,
.archive-categories h4{
	font-size:28px;
	line-height:32px;
	background:#4D41E1;
	height:84px;
	padding-top:25px;
	padding-bottom:0;
	padding-left:30px;
	font-weight:700;
}

	.archive-container h2 i,
	.archive-categories h4 i{
		width:29px;
		margin-right:15px;
	}

.row-archive{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	overflow: hidden;
	opacity: 1;
	position: relative;
	margin:0 30px 30px;
}
	.row-archive a:hover{
		text-decoration:underline;
		color:#15B8C4;
	}

	.row-archive .entry-image{
		width: 180px;
		height: 130px;
		background: #15B8C4;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		overflow: hidden;
	}
	.row-archive .entry-image img{
		object-fit:cover;
		width: 180px;
		height: 130px;
	}
	.row-archive .archive-content{
		padding:0 0 20px 210px;
		position: relative;
		overflow: hidden;
		height: 130px;
	}
		.row-archive h3{
			text-align: left;
			font-size:18px;
			line-height:28px !important;
			font-weight: 700;
			letter-spacing: 0;
			color: #303030;
			opacity: 1;
			overflow: hidden;
			padding-right:20px;
			display: block;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		}
			.row-archive h3:hover{
				color:#15B8C4;
			}
		.row-archive .entry-summary{
			margin-top:0;	
		}
			.row-archive p{
				font-size:14px;
				line-height:20px;
				color:#303030;
				margin-top:0;
			}
		.row-archive .entry-meta{
			position: absolute;
			bottom:0;
			margin-top:0;
			padding-top:0;
			margin-bottom:0;
			padding-bottom:0;
		}
		.row-archive .entry-meta,
		.row-archive .entry-meta *{
			border:0;
			font-size:14px;
			line-height:17px;
		}

			.row-archive .entry-meta a,
			.row-archive .entry-meta a:hover,
			.row-archive .entry-meta a:visited{
				color:#A3A3A3;
			}

		.row-archive .entry-meta span{
			color:#A3A3A3;
		}

		.row-archive .entry-meta h6{
			color:#A3A3A3;
			margin-bottom:0;
			font-weight: 400;
			font-size:14px;
			line-height:20px;
			display:inline;
			font-style:italic;
		}
.archive-categories{
	position:relative;
	overflow: hidden;
}

	.archive-categories ul{
		padding:0;
		margin:0;
		list-style-type: none;
	}

		.archive-container ul li{
			padding:16px 27px;
			position: relative;
			overflow: hidden;
			margin-bottom:0;
			border-bottom: 1px solid #E6E6E6;
		}

			.archive-container ul li:last-child{
				border:0;
			}

			.archive-container ul li a{
				color:#303030;
				text-decoration: none;
				font-size:20px;
				font-weight: 600;
				line-height:35px;
				display:block;
				position: relative;
				overflow: hidden;
			}

				.archive-container ul li:hover a{
					text-decoration:underline;
				}

				.archive-container ul li:hover i:before{
					color:#00E0BA !important;
				}

			.archive-container ul li i:first-child:before{
				color:#A3A3A3;
				font-size:17px;
				line-height:35px;
				width:32px;
				display:inline-block;
				font-weight:700;
			}

			.archive-container ul li i:last-child:before {
			    color: #4D41E1;
			    position: absolute;
			    top: 14px;
			    right: 0;
			}

.archive-container hr{
	display:none;
	color:#EAEAEA;
}

.archive-container .archive-hr{
	margin-top:30px; 
	display:block !important; 
	border-top:1px 
	solid #EAEAEA;
}

@media (max-width: 768px) {
	.category .page-header{
		min-height:380px;
		height:auto;
	}

	.category .page-header h1{
		max-width: 500px;
		font-size:42px;
		line-height:48px;
		margin-bottom:0;
	}

	.category .page-header p{
		max-width:630px;
		font-size:18px;
		line-height:25px;
		margin:16px auto 40px;
	}

	.archive-looking-for .container{
		padding:70px 15px 0;
		border:0;
		border-radius:0;
	}

	.archive-looking-for-content{
		min-height: 200px;
		padding:0 15px;
	}

		.archive-looking-for-content-image{
			height:84px;	
		}

	.archive-looking-for h2{
		font-size:24px;
		line-height:35px;
		margin-bottom:14px;
	}

			.archive-looking-for-content h4,
			.archive-looking-for-content h4 a{
				font-size:18px;
				line-height: 22px;
				margin-bottom:14px;
			}

			.archive-looking-for-content p{
				font-size:14px;
				line-height:20px;
				max-width:290px;
			}

.archive-important-articles{
	margin-bottom:15px;
}

	.archive-important-articles h2{
		font-size:32px;
	}

	.archive-important-articles-content{
		height: 220px;
	}

		.archive-important-articles-content-img{
			height: 83px;
			overflow:hidden;
		}

		.archive-important-articles-content-text{
			padding:7px 0;
		}

			.archive-important-articles-content-text h3{
				font-size:16px;
				line-height: 20px;
			}

				.archive-important-articles-content-text .entry-meta *{
					font-size:14px;
					line-height:17px;
				}

	.archive-important-articles-primary{
		height: 230px;
		min-height:230px;
	}

	.archive-important-articles-primary .archive-important-articles-content-img{
		width: 297px;
		height: 231px;
	}

	.archive-important-articles-primary .archive-important-articles-content-text{
		padding:0 32px 15px 320px;
	}

		.archive-important-articles-primary .archive-important-articles-content-text h3{
			font-size: 18px;
			line-height: 22px;
		}

		.archive-important-articles-primary .archive-important-articles-content-text p{
			font-size: 16px;
			line-height: 20px;
			margin-top:10px;
		}

		.archive-important-articles-primary .archive-important-articles-content-text .entry-meta *{
			font-size:14px;
			line-height: 17px;
		}

.row-archive{
	margin:0 25px 25px;
}

.archive-container{
	padding-bottom:22px;
	padding-top:30px;
}
	.archive-container h2,
	.archive-categories h4{
		font-size:22px;
		line-height:29px;
		height:58px;
		padding-top:16px;
	}
		.archive-container h2 i,
		.archive-categories h4 i{
			width:20px;
			height:13px;
		}
	.row-archive .entry-image{
		width: 180px;
		height: 130px;
	}
	.row-archive .archive-content{
		padding:0 0px 14px 205px;
		height: 130px;
	}
	.row-archive p{
		font-size:14px;
		line-height:16px;
	}
	.archive-categories h4{
		margin-bottom:0;
	}
	.archive-container ul li{
		padding:16px;
	}
	.archive-container ul li a{
		font-size:16px;
	}

		.archive-container ul li a i:first-child:before{
			font-size:14px !important;
			width:24px;
		}

	.archive-container .pagination{
		margin-top:35px;
		margin-bottom:20px;
	}
	.archive-looking-for-content-image img{
		width:100%;
		height:auto;
	}
}

@media (max-width: 480px) {
	.category .page-header{
		padding-bottom:100px !important;
	}

	.category .page-header h1{
		font-size:30px;
		line-height:30px;
		margin-bottom:10px;
		max-width:314px;
	}

	.category .page-header p{
		font-size:16px;
		line-height:22px;
		max-width:290px;
		margin-bottom:20px;
	}

	.archive-looking-for h2{
		font-size:20px !important;
		line-height:28px !important;
		text-align: center;
		margin-top:30px;
	}

	.archive-looking-for-content{
		min-height: 180px;
		padding:0 15px;
	}

.archive-important-articles{
	margin-bottom:15px;
	max-width: 100%;
	overflow-x:auto;
}

	.archive-important-articles .row:nth-child(2){
		display: flex;
	    flex-wrap: nowrap;
	    width: 100%;
	    overflow-x: hidden;
	    align-items: flex-end;
	}

	.archive-important-articles .row:nth-child(2) .col-12{
		max-width: 235px;
		display: inline-block;
	}

	.archive-important-articles h2{
		font-size:24px !important;
		margin-bottom:20px;
	}

				.archive-important-articles-content-text .entry-meta *{
					font-size:16px;
					line-height:20px;
				}

	.archive-important-articles-primary{
		height:300px;
		min-height:300px;
	}

	.archive-important-articles-primary .archive-important-articles-content-img{
		width: 100%;
		height: 130px;
		overflow: hidden;
		position: relative;
	}

	.archive-important-articles-primary .archive-important-articles-content-text{
		padding:7px 0;
		max-width: 100%;
		height:auto;
	}

		.archive-important-articles-primary .archive-important-articles-content-text h3{
			font-size: 18px;
			line-height: 25px;
			overflow: hidden;
		}

		.archive-important-articles-primary .archive-important-articles-content-text p{
			font-size:14px;
			line-height:18px;
			margin-top:0;
		}

			.archive-important-articles-primary .archive-important-articles-content-text .entry-meta,
			.archive-important-articles-content-text .entry-meta *,
			.archive-important-articles-primary .archive-important-articles-content-text .entry-meta * {
			    font-size: 14px !important;
			    line-height: 16px !important;
			}


			.archive-important-articles-content-text .entry-meta{
				white-space: nowrap;
	    		text-overflow: ellipsis;
	    		overflow:hidden;
	    		width:170px;
	    		line-height:16px;
			}

				.archive-important-articles .row:last-child{
					display:none;
				}

.sliderDots{
	display:block;
}

.latest-articles-container,
.archive-categories{
	border:0;
}

.archive-categories{
	display: none;
}

.archive-container{
	padding-top:10px;
	padding-bottom:0px;
	background:transparent;
}
	.archive-container h2,
	.archive-categories h4{
		font-size:20px;
		line-height:24px;
		text-align: center;
		padding-left:0;
	}

.archive-container hr{
	display:none;
}

.row-archive {
    margin: 0 0 25px;
}

	.row-archive .entry-image{
		width: 102px;
		height: 150px;
	}

		.row-archive .entry-image img{
			height:150px;
		}
	.row-archive .archive-content{
		height: 150px;
		padding-left:110px;
	}
		.row-archive h3{
			font-size:16px !important;
			line-height:22px !important;
			height: 22px;
		}
		.row-archive .entry-meta{
			bottom:0;
		}
		.row-archive .entry-meta,
		.row-archive .entry-meta *{
			font-size:14px !important;
			line-height: 16px;
			white-space: nowrap;
    		text-overflow: ellipsis;
    		overflow:hidden;
    		width:170px;
		}
		.archive-container .navigation{
			margin-top:30px;
		}

	.archive-container .archive-hr{
		display:none !important;
	}
	.archive-looking-for-content-image img{
		width:100%;
		height:auto;
	}

}
