/*--------------------------------------------------------------
## SINGLE PAGE
--------------------------------------------------------------*/ 
#hc-read-more {
    color: #15B8C4;
    cursor:pointer;
    text-decoration:underline;
    font-size:16px;
}
#main article a,
#main article a:visited {
	text-decoration:underline;
}
.single-page{
	position: relative;
}

.single-page hr{
	background-color:#DDDDDD !important;
	margin:8px 0 20px;
}
.no-padding-right{
	padding-right:0px;
}
.no-padding-left{
	padding-left:0px;
}
.no-padding-sides{
	padding-right:0px;
	padding-left:0px;
}
.margin-bottom-lg{
	margin-bottom: 20px;
}
.article_author_info a:hover{
	text-decoration:underline !important;
	color:#46BCFF;
}
.article_author_info .title{
	font-size:24px !important;
	margin-top:0px;
	margin-bottom:6px;
}
.article_author_info .title:hover{
	text-decoration-color: #15B8C4 !important;
}
.article_disclosure {
	font-size: 16px;
}
.author-profile{
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom:20px;
}
#crumbs{
	font-size:16px;
}
#crumbs a{
	text-decoration:underline !important;
}

.article_header{
	margin-bottom:24px;
}
.published_data, 
.reviewed_data,
.author_data{
	display:inline-block;
	
}
.published_data, .reviewed_data{
	border-left: 1px solid #ddd;
	padding-left:10px;
}
.published_data p, .reviewed_data p, .author_data p{
	font-size:16px !important;
	margin-bottom:0 !important;
	padding-right: 5px;
	color:#303030;
}
.single-page .hentry, .single-page .hentry h1{margin-top:10px;}
.single-page .entry-meta .author_photo_url {
	max-width: 42px;
}

.single-page .entry-date{
	color:#545454 !important;
	font-size:14px !important;
}
.article_licensed{
	font-size:16px;
	color:#A3A3A3;
}
.article_licensed p{
	font-size:16px !important;
	line-height:18px !important;
}
.single-page .entry-meta p,
.article_licensed p {
	margin: 0;
}
#content .entry-content p{
	color: #303030;
}
.purple{
	color:#4D41E1;
	margin-top: 5px;
    padding-left: 15px;
}
.single-page .entry-meta-calendar {
	background: #46BCFF;
	border-radius: 50%;
	float: left;
	height: 50px;
	margin-right: 5px;
	text-align: center;
	width: 50px;
}

.single-page .entry-meta-calendar .fa{
	color: #fff;
	font-size: 30px;
	padding-top: 10px;
}

.single-page .entry-meta .reviewed_photo {
    max-width: 42px;
    margin-top: 10px;
}

.posted-on a {
	display: block;
}
.article_section p { 
	margin:0;
}
.title_article_source{
	position: relative;
}
#article_sources .accordion .collapsed > h5:after{
	content: "\f078" !important;
}
.article_sources .accordion h5:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
    font-size: 16px;
    cursor: pointer;
    color: #576574;
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 999999;
}

.single .cat-links,
.single .tags-links,
.single .edit-link,
.single .navigation.post-navigation {
	display: none;
}

.section-ligthblue-bg {
	background-color: #F6FBFE;
    background-image: -webkit-linear-gradient(95deg, #F6FBFE 75%, #ffffff 25%);
    position:relative;
}


.article_author {
	padding: 40px 60px 40px 26px;
	position: relative;
}
	.article_author img{
		width:100%;
	}
.bio p{
	font-size:18px !important;
	color:#303030 !important;
	margin-top:0px;
}
.article_author .link a{
	color:#46BCFF;
}
.posted-on{
	color: #545454;
    font-size:14px;
}

	.article_author_info .title a{
		color:inherit !important;
		text-decoration:none !important;
	}

.article_author_info > .bio {
	font-size: 18px;
}

	.article_author_info .bio p{
		margin-bottom:10px;
	}

.article_author_info > .link {
	font-size: 24px;	
}
#related_articles > .title{
	font-size: 32px;
	margin: 20px 0;
	text-align: left;
	z-index: 99999;
	position: relative;
	font-weight:600;
}

.related_article {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 4px;
	margin-bottom:50px;
    max-height: 253px;
}
.related_article h5{
	padding:10px 20px;
	margin:0;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.related_article p{
	font-size:14px;
	padding:10px 20px;
}
.related_article p>a{
	color:#1DD1A1;
}
.related_article:after{
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /*content: "\f054";*/
    font-size: 21px;
    cursor: pointer;
    color: #46BCFF;
    position: absolute;
    right: 50px;
    top: 35%;
    z-index: 999999;
}
#related_articles >.title:after {
    width: 270px;
    height: 25px;
    background: #fff;
    content: "";
    position: absolute;
    top: 20px;
    z-index: -1;
    right: 160px;
}
#main #related_articles  .related_article-link{
	color: 	#545454 !important;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-decoration:none;
}
.article_section .social-links{
	float:right;
	padding-right:0px;
	margin-top:-5px;
}
.article_section .social-links a>i, .article_section .social-links a>i:focus, .article_section .social-links a>i:active{
	color: #A3A3A3;
    font-size: 17px;
    background-color: #fff;
    padding: 9px;
    border-radius: 50%;
    width: 32px;
    height:32px;
    text-align: center;
}
.article_section .social-links a>i:hover{
	color: #fff;
    font-size: 17px;
    background-color: #303030;
    padding: 9px;
    border-radius: 50%;
    min-width: 32px;
}
.article_section .social-links a{
	color:#fff !important;
}
.article_section .social-links i{
	margin-left:25px;
}
.article_section a{
	color:#46BCFF;
	text-decoration:underline;
}
.title_article_source h5{
    line-height: 24px;
}
.title_article_source h5:after{
	color:#a3a3a3 !important;
}
.article_sources-list{
	padding-right:20px;
	color:#576574;
}
.article_sources-list p,
.article_sources-list li,
.article_sources-list a{
	font-size:16px !important;
}
.article_sources-list li{
	margin-top:20px;
}
.hm_home_stroke_single_page {
    position: absolute;
    top: -28px;
    overflow: hidden;
    z-index: -2;
    left: -65%;
}
.inthis-article-section a{
	margin-right:10px;
	line-height: 30px;
}
#headingtopics_mobile{
	border-bottom:1px solid #dddddd;
	padding-bottom:5px;
	margin-top: -10px;
	position: relative;
}
#headingtopics_mobile .collapsed > h3:after{
	content: "\f078" !important;
}

.modal{
	top:10%;
} 
.modal-text p{
	padding: 20px 25px;
}
.article_disclosure{
	cursor:pointer;
}
.article-toc{
	padding: 5px 15px;
    border-radius: 4px;
    margin-bottom:5px;
}
.article-toc a{
	font-size:16px;
	display:block;
	margin-bottom:16px;
}
.article-toc br{display:none;}
.reviewed_data span{
	margin-left:-5px;
}

thead tr {
    border-bottom: .05555556rem solid #cfcfd4;
    border-top: .05555556rem solid #a7a8af;
}

thead th{
	font-size: .77777778rem;
    line-height: 1.5;
    letter-spacing: .01666667rem;
    background-color: #f0f0f2;
    color: #545454;
    text-transform: uppercase;
    border: 0 solid #cfcfd4;
    border-bottom-width: 1px;
    padding: .38888889rem;
}

tbody td{
    border: 0 solid #cfcfd4;
    border-bottom-width: 1px;
    padding: .38888889rem;
}

/*ARTICLE HELPFUL MODULE*/

.article_helpful {
 	background: #fff;
    box-sizing: border-box;
    margin: 0 !important;
    position:relative;
    overflow:hidden;
}

.article_helpful_form_wrapper.gform_wrapper{
    display : block !important;
    margin-top:0;
    margin-bottom:0;
}

.article_helpful_form_wrapper.gform_wrapper ul li.gfield{
	width:100% !important;
	position:relative;
}
.article_helpful .gform_wrapper ul.gfield_checkbox li label {
    display: -moz-inline-stack;
    display: inline-block;
    /* letter-spacing: inherit; */
    /* vertical-align: middle; */
    cursor: pointer;
    float: right;
}
#gform_fields_5 label{
	color: #545454;
}
.article_helpful #input_5_1{
	position: absolute;
	left:559px;
	top:-20px;
	width: 100px;
}
.article_helpful .gform_wrapper .top_label li ul.gfield_checkbox {
    width: auto;
    display: inline;
    float:right !important;
    margin-top:-30px;
}
.article_helpful_form .article_helpful_question ul li label {
    font-weight: bold;
    padding: 0px!important;
    width: 40px !important;
    max-width: auto !important;
   	display: inline !important;
    margin: 0 !important;
}

.article_helpful_form .article_helpful_options,
.article_helpful_form .article_helpful_other_line,
.article_helpful_form .article_helpful_thanks,
.article_helpful_form .article_helpful_email,
.article_helpful_form .gform_footer{
	display:none;
}

	.article_helpful_form .article_helpful_thanks{
		margin-top:0 !important;
	}

		.article_helpful_form .article_helpful_thanks label{
			display:none !important;
		}

	.article_helpful_form ul li.gfield textarea{
		border:0;
		background:transparent;
		outline:none;
		color:#545454;
		opacity: 1;
		max-height:50px;
		padding:0 !important;
		font-size:16px !important;
	}

	.article_helpful_form .article_helpful_email{
		margin-top:0 !important;
		margin-bottom:20px;
	}

	.article_helpful_form .article_helpful_other_line{
		margin-bottom:20px;
	}

	.article_helpful_question_selected,
	.article_helpful_option_selected{
		color:#ffffff !important;
		border-radius:10px;
	}

.article_helpful_form .gform_footer{
	margin-top:0 !important;
	padding-top:0 !important;
}

.article_helpful_form .gform_footer input{
	float:left;
	width:200px !important;
}

.article_helpful_form .gfield_radio li{
	display:inline-block;
	margin-right:10px !important;
}

.article_helpful_form .article_helpful_question .gfield_radio li{
	    min-width: auto;
	    background: #fff;
	    text-align: center;
	    border-radius: 0px;
	    margin-right: 0px !important;
	    border: none;
	    cursor: pointer;
	    display:inline;
}
.article_helpful_form .gfield_radio li{
	background: #f6fbfe;
}
.article_helpful_form .article_helpful_options ul li label{
		min-width: 180px;
	    text-align: center;
	    border-radius: 10px;
	    margin-right: 10px!important;
	    border: 1px solid #ddd;
	    cursor: pointer;
	    font-size:16px !important;
	}

	.article_helpful_form .article_helpful_options .gfield_radio li:hover{}

.article_helpful_form .article_helpful_question{
	margin-top:0 !important;
}

	.article_helpful_form .article_helpful_question ul li input{
		height:20px;
		float:left;
	}

	.article_helpful_form .article_helpful_question ul li label{
		float: left;
	    width: 40px !important;
	}

	.article_helpful_form .article_helpful_question input,
	.article_helpful_form .article_helpful_options input{
		display:none !important;
	}

	.article_helpful_form .article_helpful_question ul li label,
	.article_helpful_form .article_helpful_options ul li label{
		font-weight: bold;
	    padding: 20px 10px !important;
	    display: block !important;
	    margin: 0 !important;

	}

.article_helpful_form .ginput_container_radio{
	margin-top:0 !important;
}

.article_helpful_form .article_helpful_email input,
.article_helpful_form .article_helpful_other_line input{
	width:100% !important;
}
.article_helpful input[type=submit] {
    background: #FFB100 0% 0% no-repeat padding-box;
    border: 0px solid !important;
    border-radius: 4px !important;
    opacity: 1;
    width: 200px !important;
    height: 55px !important;
    color: #ffffff !important;
    font-size: 20px;
    font-weight: 600;
    outline: none !important;
    float: left;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    max-width: 451px;
    background:white;
    border:2px solid #dddddd;
    border-radius:5px;
    color:#545454;
    text-align:left;
}

.tooltip .arrow:before {
	 border-bottom-color:#545454 !important;
	 border-top-color:#545454 !important;
	 display:none;
 }
.mobile-article-section{
	display:none;
	background-color:#F8F8F8;
}
#accordion_topic_mobile_article .collapse-article-open:after {
    content: "\f077" !important;
}
#accordion_topic_mobile_article h3:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    font-size: 18px;
    cursor: pointer;
    color: #4D41E1;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.category-post{
	padding-left:15px;
	font-size:14px;
	margin-top:5px;
}
.category-post i{
	font-size:11px;
}
.img-related-article{
	height:69px;
	background-position:center;
}
.email_lead_gen{
	position: relative;
}
.email_lead_gen h3{
	font-size:24px;
	font-weight:bold;
	color:#222F3E !important;
	font-family: "proxima-nova",sans-serif !important;
	margin:0 !important;
}
.email_lead_gen .text-lead{
	font-size:20px;
	margin-bottom:30px;
	color:#222F3E;
}
.email_lead_gen .gform_wrapper ul li.gfield {
    margin-top: -15px;
}
.email_lead_gen .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
	width: 97%;
    height: 60px;
    background: #FFB100 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    line-height: 27px;
    margin-bottom: 12px;
    font-weight: bold;
    padding: 9px 10px;
    margin-top:45px;
    font-family: "proxima-nova",sans-serif !important;
    font-size:22px;
}
.email_lead_gen .gform_wrapper .gform_footer{
	display: inline !important;
}
.email_lead_gen .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
	height:60px;
	border: 1px solid #576574;
	color:#576574;
	border-radius: 4px;
	padding-left:10px;
	width:100%;
}
.email_lead_gen ::-webkit-input-placeholder { /* Edge */
  color:#A3A3A3;
  font-weight:normal;
  font-size:16px;
}

.email_lead_gen :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#A3A3A3;
  font-weight:normal;
  font-size:16px;
}

.email_lead_gen ::placeholder {
  color:#A3A3A3;
  font-weight:normal;
  font-size:16px;
}
.email_lead_gen .gform_wrapper{
	margin-bottom:0px;
}
.email_lead_gen .text-after-email{
	font-size: 14px;
    color: #A3A3A3;
    position: absolute;
    bottom: 100px;
    margin-left: 1px;
    font-style: italic;
}
.email_lead_gen .gform_confirmation_message{
	font-size:24px;
	font-weight:bold;
	color:#222F3E !important;
	position: relative;
}
.email_lead_gen .gform_confirmation_message:after{
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    font-size: 15px;
    cursor: pointer;
    color: #576574;
    position: absolute;
    right: -6px;
    top: -5px;
}
.email_lead_gen .gform_confirmation_message img{
		display: inline;
    	float: left;
    	margin-right: 20px;
}
.validation_error{
	display:none;
}
.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
	float: left;
}
.gform_wrapper li.gfield.gfield_error{
	padding-top:0 !important;
	width: 406px !important;
}
.gform_wrapper .field_description_below .gfield_description{
	padding-top:2px !important;
}
.error-margin{
	margin-top:22px !important; 
}
/*HOMEPAGE - CATEGORIES*/
	.mg_articles_home h2 strong:before{
		content:"";
		width:110%;
		height:100%;
		position:absolute;
		background: #DDFFF9 0% 0% no-repeat padding-box;
		z-index:-1;
		top:3%;
		left:-12px;
	}

	.mg_articles_home h2 strong{
		color:#4D41E1;
		font-family: "tasman",sans-serif; 
		font-weight:700;
		position:relative;
	}

.mg_widget_featured_categories{
	margin-bottom:20px;
}

.mg_featured_categories_title{
	position:relative;
	padding:0;
	margin-bottom:20px;
	overflow:hidden;
}

	.mg_featured_categories_title h3{
		margin:0;
		padding:0;
		float:left;
	}

		.mg_featured_categories_title h3 i{
			float:left;
			color:#4D41E1;
			font-size:18px;
			line-height:58px;
			margin-right:10px;
		}

		.mg_featured_categories_title h3 a{
			font-family: "tasman",sans-serif; 
			float:left;
			font-weight:700;
			font-size:30px;
			line-height:62px;
			color:#303030;
			text-decoration: none;
		}

	.mg_featured_categories_title .see-more-articles{
		font-size:16px;
		line-height:62px;
		color:#15B8C4;
		float:right;
		text-decoration: underline;
	}


.mg_featured_categories{
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
}

.mg_featured_categories_content h4{
	margin:22px 0 0;
}

.mg_featured_categories_content_image{
	height:100px;
	position:relative;
	overflow:hidden;
	border-radius: 6px;
}

	.mg_featured_categories_content_image img{
	    position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform:translate(-50%, -50%);
		-moz-transform:translate(-50%, -50%);
		-ms-transform:translate(-50%, -50%);
		-o-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
	}

.mg_featured_categories_content h4,
.mg_featured_categories_content h4 a{
	font-size:18px;
	line-height:25px;
	color:#303030;
	font-weight:700;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mg_featured_categories_content p{
	font-size:14px;
	line-height:20px;
	margin-top:0;
	margin-bottom:10px;
	color:#303030;
}

	.mg_featured_categories_content .entry-meta h6,
	.mg_featured_categories_content .entry-meta span,
	.mg_featured_categories_content .entry-meta a{
		font-size:14px;
		line-height:10px;
		color:#A3A3A3 !important;
		margin-top:20px;
		font-weight:200;
		display:inline;
		text-decoration: none !important;
	}

	.mg_articles_home hr{
		margin-top:40px;
		margin-bottom:40px;
		background-color:#A3A3A3;
	}

#dots, #hc-read-more {
    display: none;
}
/*subsidy calculator*/
#subsidy_form {
    padding: 25px 30px !important;
}
#calculator_icon {
	padding-right: 15px;
	padding-left: 10px;
	padding-top: 10px;
}
#output_amount {
	color: #00AEBB;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
}
.amount_upper {
	font-size: 24px;
	position: relative;
	top: -20px;
}
.amount_down {
	font-size: 24px;
	position: relative;
}
.range_message {
	font-size: 16px;
	color: #454545;
	font-weight: 600;
	line-height: 75%;
}
.calculator_column {
	float: left;
	width: 50%;
	padding: 10px;
  }
  /* Clear floats after the columns */
  .calculator_row:after {
	  content: "";
	  display: table;
	  clear: both;
  }
  #calculator_submit_button {
	  width: 97%;
	  height: 60px;
	  background: #FFA45A 0% 0% no-repeat padding-box;
	  border-radius: 4px;
	  border: 0;
	  color: #ffffff;
	  line-height: 27px;
	  margin-bottom: 12px;
	  font-weight: bold;
	  padding: 9px 10px;
	  margin-top: 45px;
	  font-family: "proxima-nova",sans-serif !important;
	  font-size: 22px;
  }
  #calculator_zipcode, .calculator_field, #calculator_birthdate {
	  height: 44px;
	  padding: 16px 27px;
	  border: 1px solid #00AEBB;
	  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	  border-radius: 8px;
	  font-size: 16px;
	  line-height: 27px;
	  color: #454545;
	  font-weight: normal;
	  width: 100%;
  }
  .calculator_range {
	  height: 20px;
	  width: 100%;
	  border: none!important;
	  position: relative;
  }
  .error_message {
	  display: block;
	  color: #D15851 !important;
	  font-size: 10px !important;
	  line-height: 12px !important;
	  margin-top: 4px !important;
	  margin-bottom: 0;
  }
  .birthdate {
	border-radius: 8px!important;
	padding-left: 10px!important;
  }
  
  .hcinc_subsidy_calculator {
	  border-top-color: #00AEBB!important;
	  border-top-width: 6px!important;
  }
  .hcinc_subsidy_calculator label:before{
	  background: none;
	  width: 0!important;
  }
  .hcinc_title_subsidy_calculator {
	  font-size: 24px;
	  font-weight: 700;
	  color: #00AEBB;
  
  }
  
  .zip-codes-form .input-check i {
	color: #00AEBB!important;
	margin-top: 53px!important;
  }
  .zip-codes-form {
	  position:relative;
  }
  .ie_field{
	  position: relative;
	  top: 0!important;
	  width: 100%;
	  height: 50px!important;
	  border: 1px solid #00AEBB!important;
  }
  .the_calculator_members {
	background: linear-gradient(to right, #00AEBB 0%, #00AEBB 5%, #E6F5F6 5%, #E6F5F6 100%);
	border: solid 1px #00AEBB;
	border-radius: 8px;
	height: 7px;
	width: 100%;
	outline: none;
	transition: background 450ms ease-in;
	-webkit-appearance: none;
  }
  .the_calculator_income {
	background: linear-gradient(to right, #00AEBB 0%, #00AEBB 9%, #E6F5F6 9%, #E6F5F6 100%);
	border: solid 1px #00AEBB;
	border-radius: 8px;
	height: 7px;
	width: 100%;
	outline: none;
	transition: background 450ms ease-in;
	-webkit-appearance: none;
  }
  
    .ranges {
	font-size: 10px;
	color: #A3A3A3;
  }
  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: #487494;
	cursor: pointer;
	margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background:#487494;
	cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: #487494;
	cursor: pointer;
  }




  /* selectors */
  .calculator_selector {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .calculator_selector li {
	float: left;
	margin: 0;
	width: 45%;
	height: 44px;
	position: relative;
	text-align: center;
  }
  
  .calculator_selector label,
  .calculator_selector input {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  
  .calculator_selector input[type="radio"] {
	opacity: 0.01;
	z-index: 100;
  }
  
  .calculator_selector input[type="radio"]:checked+label,
  .Checked+label {
	background: #E6F5F6;
	color: #00AEBB;
	font-weight: 700;
	border-width: 1px;
	border-color: #00AEBB;
  }
  
  .left_label {
  border-radius: 8px 0 0 8px;
  }
  .right_label {
  border-radius: 0 8px 8px 0;
  }
  
  .calculator_selector label {
	padding: 5px;
	border: 1px solid #CCC;
	cursor: pointer;
	z-index: 90;
  }
  
  .calculator_selector label:hover {
	background: #DDD;
  }
  
  /* end selectors */
  #output_title {
	font-weight: 700!important;
	font-size: 32px!important;
	text-align: center;
  }
  #output_text {
	text-align: center; 
	padding-top: 20px; 
	font-size: 20px; 
	color:#454545;
  }
  #output_disclaimer {
	text-align: center;
	padding-top: 10px;
	font-size: 14px!important;
	color:#A3A3A3!important;
  }
/*end calculator*/
@media (max-width: 768px) {
	/*subsidy calculator*/
	#calculator_submit_button {
		margin-top: 15px;
		font-size: 18px;
	}
	.range_message {
		font-size: 14px;
	}
	label {
		font-size: 14px!important;
	}
	#subsidy_form {
		padding: 25px 20px !important;
	}
	#output_title {
		font-size: 24px!important;
	}
	#output_text {
		font-size: 16px; 
	}
	#output_disclaimer {
		font-size: 14px!important;
	}
	/*end subsidy calculator*/
	.article_author_image {
    	top: -50px;
    	left: 28px;
	}
	.gform_wrapper li.gfield.gfield_error{
		padding-top:0 !important;
		width: 206px !important;
	}
	.email_lead_gen .medium{
		width:100% !important;
	}
	.mg_featured_articles,
	.mg_featured_review{
		height:480px;
	}

	.mg_featured_articles h3,
	.mg_featured_review h3{
		height:54px;
		font-size:18px;
		line-height:18px;
		padding:18px 25px 0;
		margin-bottom:8px;
	}

		.mg_featured_articles h3 i,
		.mg_featured_review h3 i{
			font-size:19px;
			line-height:20px;
		}

	.mg_featured_articles_content{
		padding:4px 22px;
	}

	.mg_featured_review_content{
		padding:10px 22px 10px;
	}

.mg_featured_articles figure{
	width:114px;
	height:120px;
	margin-right:19px;
	position:relative;
	overflow:hidden;
}


	.mg_featured_articles figure img{
		height:136px;
		max-width:200px;
	}

.mg_featured_review_content figure{
	width:45px;
	height:65px;
	margin-right:9px;
	position:relative;
	overflow:hidden;
}

	.mg_featured_review_content figure img{
		height:65px;
		max-width:200px;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.mg_featured_review h6, .mg_featured_review h6 a{
		font-size:14px;
		line-height:17px;
		max-width:120px;
	}
	.article_helpful #input_5_1 {
    	left: 374px;
    	top: -25px;
	}
	.article_helpful {
    	padding: 20px 0px 0px 28px;
	}
	#gform_fields_5 label{
		font-size:16px !important;
		color: #545454;
	}
}
@media (max-width: 480px) {
	/*subsidy calculator*/
	#calculator_submit_button {
		margin-top: 15px;
		font-size: 18px;
	}
	label {
		font-size: 14px!important;
	}
	#subsidy_form {
		padding: 25px 20px !important;
	}
	#output_title {
		font-size: 20px!important;
	}
	#output_text {
		font-size: 14px; 
	}
	#output_disclaimer {
		font-size: 12px!important;
	}
	/*end subsidy calculator*/
	#more {
		display: none;
	}
	#dots{
		display:inline-block;
	}
	#hc-read-more{
		display:inline-block;
		color:#15B8C4;
	}

	.article_helpful_form ul li.gfield textarea{
		max-height: 80px;
	}

	.article_helpful_form .article_helpful_options .gfield_radio li{
		margin-left: 66px !important;
	}
	#crumbs a{
		font-size:13px;
	}
	.article_disclosure{
		margin-bottom:10px;
		margin-top:8px;
		font-size:13px;
	}
	.published_data, .reviewed_data {
    	border-left: none !important;
    	padding-left: 0 !important;
	}
	.published_data, .reviewed_data, .author_data {
    	display: block !important;
	}
	.published_data p, .reviewed_data p, .author_data p {
		font-size:16px;
	}
	.single-page .entry-title:after {
    	background: none !important;
    	height:0;
    	margin:0;
	}
	
	#crumbs {
    	position: relative !important;
    	height: 22px !important;
    	overflow: hidden !important;
    	padding-right: 20px !important;
    	margin-top: 5px !important;
    	width: 320px !important;
    	margin-bottom: 0px;
    	font-size: 16px !important;
	}
	.article_author {
    	padding: 20px 10px 10px 10px;
	}
	.article_author_info .title a{
		text-decoration: none !important;
		font-size:16px !important;
	}
	.bio p,
	.bio p a{
		font-size:16px !important;
	}
	.article_section h5,
	.widget h5.sidebar-title{
		font-size:16px;
	}
	.title_article_source h5{
		font-size:16px;
	}
	.article_section {
    	padding: 13px 0px 3px 0px;
    	margin:0 0 !important;
	}
	.article_section .social-links i {
    	margin-left: 10px;
   	}
   	.article_section .social-links{
   		margin-top: 0px;
   	}
   	.article_header {
    	margin-bottom: 10px;
	}
	#accordion_topic_mobile_article{
		margin-bottom:20px;
	}
	.article_sidebar-section{
		margin-bottom:0;
		background-color:#fff;
	}
	#masthead{
		margin-bottom:0 !important;
	}
	.row-related-articles{
		flex-wrap: nowrap !important;
		overflow-x:scroll;
	}
	.email_lead_gen h3 {
	    font-size: 20px;
	}
	.email_lead_gen .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
		margin-left:0;
	}
	.email_lead_gen .text-after-email {
    	margin-left: 0px;
    	position: absolute;
    	bottom: 92px;
	}
	.email_lead_gen .gform_confirmation_message img{
		display:block;
		margin:0 auto;
		float: none;
	}
	.email_lead_gen .gform_confirmation_message {
    	font-size: 20px;
	}
	.gform_wrapper li.gfield.gfield_error {
    	padding-top: 0 !important;
    	width: 100% !important;
	}
	.error-margin{
		margin-top:0px !important;
	}
	.email_lead_gen .medium {
    	width: 100% !important;
	}
	.email_lead_gen .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
		width:100%;
		margin-top:45px;
	}
	.mg_articles_home h2{
	font-size:30px;
	line-height:38px;
	margin: 28px auto 27px;
	text-align: center;
    width: 236px;
}

	.mg_featured_categories_title h3 i{
		line-height:52px;
	}

	.mg_featured_categories_title h3 a{
		font-size:18px;
		line-height:52px;
	}

	.mg_featured_categories_title .see-more-articles{
		line-height:60px;
	}

.mg_widget_featured_categories{
	overflow-x:hidden;
}

.mg_featured_categories_content{
	overflow-x: auto;
}

.mg_featured_categories_content .row{
	display: flex;
    flex-wrap: nowrap;
    width:690px;
    overflow-x: auto;
    align-items: flex-start;
}

	.mg_featured_categories_content .col-md-4{
		max-width:230px;
		display:inline-block;
	}

	.mg_featured_categories_content h4{
		margin-top:10px !important;
	}

	.mg_featured_categories_content h4, .mg_featured_categories_content h4 a{
		font-size:16px;
		line-height:22px;
	}

	.mg_featured_categories_content p{
		font-size:14px;
	}
	.mg_featured_categories_title h3{
		font: Bold 23px/62px Tasman;
	}
	.email_lead_gen .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
		height:40px;
	}
	.email_lead_gen .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
		height:40px;
		font-size: 16px;
		line-height: 19px !important;
	}
	.email_lead_gen .text-lead {
		font-size:18px;
		margin-top:15px;
	}
	.article_helpful #input_5_1 {
    	left: 269px;
    	top: -30px;
	}
	.article_helpful {
	    padding: 12px 0px 0px 0px;
	}
	#gform_fields_5 label{
		font-size:16px !important;
		color: #545454;
	}
	.article_helpful .article_helpful_option li label{
		width:100% !important;
	}
	
	
}
/*For IE*/
@media all and (-ms-high-contrast: none) {
    .related_article{
        border: 1px solid #dedede;
     }

   .position-relative{
   		position:absolute !important;
   		width:100%;
   		bottom:0px;
   }
}

/*For Edge*/
@supports (-ms-ime-align:auto) {
    .related_article{
            border: 1px solid #dedede;
         }
}
